{% extends 'roseleaf_app/base.html' %}

{% block content %}


    <br><br>
    <form class="d-flex" method="post" action="{% url 'search_recipes' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search"
               placeholder="Search for a recipe" aria-label="Search" name="searched">
        <button class="btn btn-outline-secondary" type="submit">Search</button>

    </form>



    <br/>
    <h2>Recipes list</h2>
    <br>
    <table class="table table-hover table-striped ">
    <thead>
            <tr>
                <th scope="col">Recipe name</th>
                <th scope="col">Description</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
    {% for recipe in recipe_page %}


        <tr>
            <td><a href="{% url 'show_recipe' recipe.id %}">{{ recipe }}</a></td>
            <td>{{ recipe.description }}</td>
            <td><a href="{% url 'update_recipe' recipe.id %}"
                   class="btn btn-outline-secondary btn-sm"> Update </a>
                <a href="{% url 'delete_recipe' recipe.id %}"
                   class="btn btn-outline-danger btn-sm"> Delete  </a>
            </td>
        </tr>

    {% endfor %}
    </table>
    <br><br>
    {{ recipe_page }}<br>

    {% if recipe_page.has_previous %}
        <a href="?page=1">&laquo; First </a>
        <a href="?page={{ recipe_page.previous_page_number }}">Previous page</a>



    {% endif %}

    Page {{ recipe_page.number }} of {{ recipe_page.paginator.num_pages }}

    {% if recipe_page.has_next%}
        <a href="?page={{ recipe_page.next_page_number }}">Next page</a>
        <a href="?page={{ recipe_page.paginator.num_pages }}">Last &raquo;</a>


    {% endif %}


{% endblock %}