{% extends 'roseleaf_app/base.html' %}

{% block content %}


    <br><br>
    <form class="d-flex" method="post" action="{% url 'search_recipes' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search"
               placeholder="Search for a recipe" aria-label="Search" name="searched">
        <button class="btn btn-outline-secondary" type="submit">Search</button>

    </form>



    <br/>
    <h2>Recipes list</h2>
    <br>
    <table class="table table-hover table-striped ">
    <thead>
            <tr>
                <th scope="col">Recipe name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
    {% for recipe in recipe_list %}


        <tr>
            <td><a href="{% url 'show_recipe' recipe.id %}">{{ recipe }}</a></td>
            <td>{{ recipe.description }}</td>
        </tr>

    {% endfor %}
    </table>




{% endblock %}