{% extends 'roseleaf_app/base.html' %}

{% block content %}
     <br/>
    <h3>Recipes Page</h3>
    <br/>

    <a class="btn btn-primary" href="{% url 'new_recipe' %}"> Create a new recipe</a>
    <br/>

    <hr class="my-4">

    <div class="input-group mb-3 ">
        <input type="text" class="form-control" placeholder="Search for a recipe" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">Search</button>
        </div>
    </div>
    <br>
    <h1>Recipes</h1>
    <hr class="my-4">
    {% for recipe in recipe_list %}

        <div class="card">
          <div class="card-header">
            Recipe
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">{{ recipe.description }}</p>
              Created by: {{ recipe.user }}
              <br>Season: {{ recipe.season }}<br><br>


              <strong>Ingredients: </strong>
        <ul>
        {%  for ingredient in recipe.Ingredients.all %}
            <li> {{ ingredient}} </li>
        {% endfor %}
          </ul>

        <strong>Method:</strong><br>
        {{ recipe.method }}

        <br><br>
        <strong>Allergens: </strong>
        <ul>
        {% for allergen in recipe.allergens.all %}
            <li>{{ allergen }}</li>
        {% endfor %}<br>
        </ul>
         </div>
        </div>
    <hr class="my-4">
    {% endfor %}

{% endblock %}
