{% extends 'roseleaf_app/base.html' %}

{% block content %}
<br>
{% if searched %}
        <h2>You searched for {{ searched }}</h2><br>
        <h3>Results: </h3>
        <table class="table table-hover table-striped ">
    <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">User</th>
                <th scope="col">Order detail</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
    {% for order in order_searched %}


        <tr>
            <td><a href="{% url 'show_order' order.id %}">{{ order.date }}</a></td>
            <td>{{ order.user }}</td>
            <td>
                {% for i in order.order_detail.all %}
                    <li>{{ i }}</li>
                {% endfor %}

            </td>
            <td><a href=""
                   class="btn btn-outline-secondary btn-sm"> Update </a>
                <a href=""
                   class="btn btn-outline-danger btn-sm"> Delete  </a>
            </td>
        </tr>

    {% endfor %}
    </table>

{% else %}
        <h2>No results</h2>
{% endif %}

<br><br>




{% endblock %}
